[submodule "parts/firstie"]
	path = parts/firstie
	url = https://github.com/foerstj/collab24.git
[submodule "parts/andreou"]
	path = parts/andreou
	url = https://github.com/foerstj/collab24-andreou.git
[submodule "parts/eksevis"]
	path = parts/eksevis
	url = https://github.com/foerstj/collab24-eksevis.git
[submodule "parts/sadowson"]
	path = parts/sadowson
	url = https://github.com/foerstj/collab24-sadowson.git
